#include "resource.h"

//=============================================================================
// Icon idenifiers
//=============================================================================

#define IDI_CODEKEEPER32  100
#define IDI_CODEKEEPER16  101

//=============================================================================
// Application icons
//=============================================================================

IDI_CODEKEEPER32 ICON DISCARDABLE  "32_CODEKEEPER.ICO"
IDI_CODEKEEPER16 ICON DISCARDABLE  "16_CODEKEEPER.ICO"

//=============================================================================
// Manifest
//=============================================================================

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "CSED_CODEKEEPER.xml"
