#include "resource.h"

//=============================================================================
// Icon idenifiers
//=============================================================================

#define IDI_LOGO32  100
#define IDI_LOGO16  101

//=============================================================================
// Application icons
//=============================================================================

IDI_LOGO32 ICON DISCARDABLE  "32_MACROS.ICO"
IDI_LOGO16 ICON DISCARDABLE  "16_MACROS.ICO"

//=============================================================================
// Manifest
//=============================================================================

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "CSED_MACROS.xml"
