#include "resource.h"

//=============================================================================
// Icon idenifiers
//=============================================================================

#define IDI_BACKUPMGR32  100
#define IDI_BACKUPMGR16  101

//=============================================================================
// Application icons
//=============================================================================

IDI_BACKUPMGR32 ICON DISCARDABLE  "32_BACKUPMGR.ICO"
IDI_BACKUPMGR16 ICON DISCARDABLE  "16_BACKUPMGR.ICO"

//=============================================================================
// Manifest
//=============================================================================

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "CSED_BACKUPMGR.xml"
