#include "resource.h"

//=============================================================================
// Icon idenifiers
//=============================================================================

#define IDI_CODETIPS32  100
#define IDI_CODETIPS16  101

//=============================================================================
// Application icons
//=============================================================================

IDI_CODETIPS32 ICON DISCARDABLE  "CSED_CODETIPS32.ICO"
IDI_CODETIPS16 ICON DISCARDABLE  "CSED_CODETIPS16.ICO"

//=============================================================================
// Manifest
//=============================================================================

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "CSED_CODETIPS.xml"
